.Container{
    background-color: var(--color-background);
    width: 100%;
    min-height: 100%;
}

.Header{
    position: relative;
    width: 100%;
    height: 473px;
}

.Fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Title{
    position: absolute;
    color: var(--color-title-home);
    font-size: 70px;
    width: 100%;
    text-align: center;
    bottom: 15px;
    font-family: "Text-Bold", sans-serif;
}
.SocialNetworks{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 7px;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    background-color: #ffffff85;
}
.SubTitle{
    color: var(--color-subtitle-home);
    font-family: "Text-Bold", sans-serif;
    font-size: 36px;
    margin-top: 39px;
    margin-left: 106px;
    margin-bottom: 22px;
}

.Description{
    color: var(--color-text-home);
    font-family: "Text-Regular", sans-serif;
    font-size: 22px;
    margin-left: 65px;
    margin-right: 65px;
    padding-bottom: 32px;
}