html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Text-Regular";
  src: url("./../public/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Text-Bold";
  src: url("./../public/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "Text-SemiBold";
  src: url("./../public/fonts/Inter-SemiBold.ttf");
}

:root {
  --color-navbar: #1BDBB8;
  --color-text-navbar-link: #000000;
  --color-background: #0C0C0C;
  --color-title-home: #ECFF13;
  --color-subtitle-home:#A010F7;
  --color-text-home: #FFFFFF;
}